* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body {
    background-color: #202020;
}

::selection {
    background-color: #5528FF;
    color: #202020
}

.menu {
    width: 100%;
    position:fixed;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height:80px;
    background-color: #202020;
    border-bottom:1px solid white;
}

.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a:hover{
    transition: 0.5s;
    color:#5528FF;
}
.menu-logo__text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    margin-left: 20px;
    text-align: center;

    color: #FFFFFF;

}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-link {
    margin-left: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;


}

.menu-link__btn {
    background: #5528FF;
    border-radius: 5px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 100px;
    height: 24px;
    text-align: center;
    color: #FFFFFF;

}

#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */


    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #5528FF;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #202020;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.hamburger-menu {
    display: none;
}


#underline{
    text-decoration: underline 2px solid #5528FF;
}





.heading {
    margin-top: 80px;
}




.information {
    display: flex;
    align-items: center;
}

.line1 {
    background: #C2C2C2;
    width: 20%;
    margin-right: 10px;
}

.line2 {
    background: #C2C2C2;
    width: 70%;
    margin-left: 10px;
}

.information-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #C2C2C2;
}




.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 120px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;

    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */ 
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; 
 } 

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



.service {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */


    color: #FFFFFF;

}

a {
    text-decoration: none;
}

.service-subtitle {
    width: 292px;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #B2B2B2;
}

.service-text {
    margin-left: 35px;
    height: 80px;

}

.img {
    margin-right: 24px;
}



.mobiledev {
    width: 100%;
    margin-top: 100px;

}

.mobiledev-box {
    margin-top: 60px;
    background-image: url("https://www.chetu.com/img/blogs/5-things-to-consider-before-mobile/5-things-to-consider-before-mobile-app-development-banner.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.mobiledev-box2 {
    margin-top: 60px;
    background-image: url("https://itxitpro.com/front/img/web-development-services.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    
}

.mobiledev-box3 {
    margin-top: 60px;
    background-image: url("https://www.mgtrading.com/wp-content/uploads/product-design-engineers-pde.jpeg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    
}


.mobiledev-box4 {
    margin-top: 60px;
    background-image: url("https://d33wubrfki0l68.cloudfront.net/9bac1587729ee541b14e557ef63a17f4ea6c6665/80e02/static/ca20d80392b78f5f38b248ad02df7b95/qa-testing-header.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    
}

.mobiledev-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 65px;
    color: #FFFFFF;
    margin-top: 59px;
}

.mobiledev-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 57px;
   width:800px;
}

.mobiledev-img{
    max-width:600px;
}

.footer {
    margin-top: 200px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background: #555454;
    border-top: 2px solid #C2C2C2;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-img {
    display: flex;
    align-items: center;
}

.img {
    max-width: 111px;
    max-height: 80px;
}

.footer-img>a {
    margin-left: 20px;
}

.popup{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease .3s;
    transform: scale(0);
}
.popup.active{
    transform: scale(1);   
}


.contact{
    width:100%;
    margin-top:100px;
}
.contact-img{
    max-width:800px;
}
.contact-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.coloredText{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(10deg, red, rgb(253, 152, 21), rgb(35, 203, 249));
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    width:auto;
}
.contact-title{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 51px;
    color: #FFFFFF;
    width:auto;
}


.voltage-button {
    margin-top: 30px;;
    position: relative;
    width:230px;
  }
  
  .voltage-button button {
    color: white;
    background: #0D1127;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5rem;
    border: 5px solid #5978F3;
    font-size: 1.2rem;
    line-height: 1em;
    letter-spacing: 0.075em;
    transition: background 0.3s;
  }
  
  .voltage-button button:hover {
    cursor: pointer;
    background: #0F1C53;
  }
  
  .voltage-button button:hover + svg, .voltage-button button:hover + svg + .dots {
    opacity: 1;
  }
  
  .voltage-button svg {
    display: block;
    position: absolute;
    top: -0.75em;
    left: -0.25em;
    width: calc(100% + 0.5em);
    height: calc(100% + 1.5em);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
    transition-delay: 0.1s;
  }
  
  .voltage-button svg path {
    stroke-dasharray: 100;
    filter: url("#glow");
  }
  
  .voltage-button svg path.line-1 {
    stroke: #f6de8d;
    stroke-dashoffset: 0;
    animation: spark-1 3s linear infinite;
  }
  
  .voltage-button svg path.line-2 {
    stroke: #6bfeff;
    stroke-dashoffset: 500;
    animation: spark-2 3s linear infinite;
  }
  
  .voltage-button .dots {
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.4s;
  }
  
  .voltage-button .dots .dot {
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
  }
  
  .voltage-button .dots .dot-1 {
    top: 0;
    left: 20%;
    animation: fly-up 3s linear infinite;
  }
  
  .voltage-button .dots .dot-2 {
    top: 0;
    left: 55%;
    animation: fly-up 3s linear infinite;
    animation-delay: 0.5s;
  }
  
  .voltage-button .dots .dot-3 {
    top: 0;
    left: 80%;
    animation: fly-up 3s linear infinite;
    animation-delay: 1s;
  }
  
  .voltage-button .dots .dot-4 {
    bottom: 0;
    left: 30%;
    animation: fly-down 3s linear infinite;
    animation-delay: 2.5s;
  }
  
  .voltage-button .dots .dot-5 {
    bottom: 0;
    left: 65%;
    animation: fly-down 3s linear infinite;
    animation-delay: 1.5s;
  }
  
  @keyframes spark-1 {
    to {
      stroke-dashoffset: -1000;
    }
  }
  
  @keyframes spark-2 {
    to {
      stroke-dashoffset: -500;
    }
  }
  
  @keyframes fly-up {
    0% {
      opacity: 0;
      transform: translateY(0) scale(0.2);
    }
  
    5% {
      opacity: 1;
      transform: translateY(-1.5rem) scale(0.4);
    }
  
    10%, 100% {
      opacity: 0;
      transform: translateY(-3rem) scale(0.2);
    }
  }
  
  @keyframes fly-down {
    0% {
      opacity: 0;
      transform: translateY(0) scale(0.2);
    }
  
    5% {
      opacity: 1;
      transform: translateY(1.5rem) scale(0.4);
    }
  
    10%, 100% {
      opacity: 0;
      transform: translateY(3rem) scale(0.2);
    }
  }
  .button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 140px;
    height: 30px;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  .contact-img{
    margin-left:40px;
  }
  .button:hover::before {
    filter: blur(20px);
  }
  
  .button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  }


@media(max-width:530px) {
    .hamburger-menu {
        display: block;
    }

    .menu-list {
        display: none;
    }
}

@media(max-width:670px){
    .mobiledev-box, .mobiledev-box2, .mobiledev-box3, .mobiledev-box4{
        height:auto;
    }
}
@media(max-width:800px){
    .mobiledev-subtitle{
        width:auto;
    }
}
@media(max-width:1165px){
    .contact-img{
        display:none;
        
    }
}