*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
body{
    background-color: #202020;
}
::selection{
    background-color: #5528FF;
    color:#202020
}
a:hover{
transition: 0.5s;
color:#5528FF;
}
.menu{
    width:100%;
    position:fixed;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height:80px;
    background-color: #202020;
    border-bottom:1px solid white;
}
.container{
    width:100%;
    max-width:1290px;
    margin:0 auto;
}
.menu-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.menu-logo__text{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height */
margin-left:20px;
text-align: center;

color: #FFFFFF;

}
.menu-logo{
    display:flex;
    align-items: center;
}
.menu-list{
    display:flex;
    align-items: center;
}
.menu-link{
    margin-left:20px;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-decoration: none;
color: #FFFFFF;


}
.menu-link__btn{
    background: #5528FF;
border-radius: 5px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
width: 100px;
height: 24px;
text-align: center;
color: #FFFFFF;

}
.info{
    width:100%;
    margin-top:100px;
    background-image: url("../img/computer.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
.info-title{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 57px;
line-height: 65px;

color: #FFFFFF;

}
.info-subtitle{
    width: 741px;
margin-top: 35px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 51px;

color: #FFFFFF;


}
.info-btn{
    width: 235px;
height: 60px;
margin-top:55px;
background: #5528FF;
border-radius: 10px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
button{
    cursor:pointer;
    border:none;
}
.services{
    margin-top:150px;
    width:100%;
    margin-bottom:150px;
}
.information-text{
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #C2C2C2;


}
.information{
    display:flex;
    align-items: center;
}
.line1{
    background: #C2C2C2;
    width:20%;
    margin-right:10px;
}
.line2{
    background: #C2C2C2;
    width:70%;
    margin-left:10px;  
}
.service-box{
    display:grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    row-gap: 100px;
    margin-top:150px;
}
.service{
    display:flex;
    align-items: center;
}
.service-title{
    font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #FFFFFF;

}
a{
    text-decoration: none;
}
.service-subtitle{
    width: 292px;
margin-top:15px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #B2B2B2;
}
.service-text{
    margin-left:35px;
   
}
.clients{
    width:100%;
    margin-top: 150px;
}
.clients-box{
    display:grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    justify-content: space-around;
    row-gap: 50px;
    margin-top:150px;
}
.team{
    margin-top:150px;
}
.footer{
    margin-top:200px;
    width:100%;
    height: 100px;
display:flex;
align-items: center;
background: #555454;
border-top:2px solid  #C2C2C2;
}
.footer-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer-img{
    display:flex;
    align-items: center;
}
.img{
    max-width:111px;
    max-height:80px;
}
.footer-img > a{
    margin-left:20px;
}
.teams{
    display:grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
    margin-top:150px;
}
.team-block{
display:flex;
align-items: center;
}
.face{
border-radius: 50%;
max-width:100px;

}
.team-text{
    margin-left:35px;
}
.team-title{
    font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #FFFFFF;

}
.team-subtitle{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
margin-top:15px;
color: #B2B2B2;


}

.mySlides.fade img{
  height: 600px;
}















.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top:120px;
  }
  
  /* Hide the images by default */
  .mySlides {
      display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

















  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
   
    
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color:#5528FF ;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #202020;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color:#FFFFFF ;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
.hamburger-menu{
    display:none;
}

















.button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 140px;
    height: 30px;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .button:hover::before {
    filter: blur(20px);
  }
  
  .button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  }






@media(max-width:910px){
    .teams{
        grid-template-columns: repeat(2,auto);
    }
    .service-box{
        grid-template-columns: repeat(1,auto);
        justify-content: center;
    }
    .clients-box{
        grid-template-columns: repeat(3,auto);
    }
}
@media(max-width:740px){
    .info-subtitle{
        width:100%;
    }
}
@media(max-width:670px){
    .clients-box{
        grid-template-columns: repeat(2,auto);
    }
}
@media(max-width:580px){
    .teams{
        grid-template-columns: repeat(1,auto);
        justify-content: center;
    }
    .clients-box{
        grid-template-columns: repeat(1,auto);
        justify-content: center;
    }
}
@media(max-width:530px){
    .hamburger-menu{
        display: block;
    }
    .menu-list{
        display:none;
    }
}
@media(max-width:420px){
    .service-subtitle{
        width:100%;
    }
}
@media(max-width:570px){
    .info{
        height:auto;
    }
}
@media(max-width:995px){
  .mySlides.fade img{
    height:auto;
    width:100%;
  }
}